/* Richie */

body {
    background-image: linear-gradient(180deg, rgba(0, 145, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.gerardarmpit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* GERARD BABANG G */

.badansirnuelkeren {
  background-color: #ffffff;
  width: 300px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  text-align: center;
  opacity: 80%;
}

.badansirnuelkeren:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.sayasukabelajar {
    margin-bottom: 15;
    width: 100px;
    height: 105px;
    opacity: 2000%;
}

/* Valen */

h2 {
  color: #0557a3;
  margin-bottom: 20px;
  opacity: 2000%;
}

form {
    text-align: left;
    color: #0557a3;
}

/* Richie */

input {
  width: 92%;
  padding: 10px;
  border: 1.5px solid #89bfff; /* Valen */
  border-radius: 8px;
  font-size: 14px;
  margin-bottom: 20px;
  transition: 0.2s;
  margin-right: 80
}

input:focus {
  outline: none;
  border-color: #0077ff; /* Valen */
}

button {
  width: 100%;
  padding: 10px;
  background-color: #0066ff; /* Valen */
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}
