/* Richie */

body {
    background-image: linear-gradient(180deg, rgba(0, 145, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font: size 80px;
    position: relative;
    margin-left: 325px;
}


.lisaxnuel {
    margin-bottom: 800px;
    width: 100px;
    position: relative;
    right: -365px;
    align-items: center;
}

.percintaannuel {
    margin-bottom: 600px;
    align-items: center;
    position: relative;
    left: 125px;
}


/* Valen */
h1 {
    font-size: 20px;
    color: white;
}

p {
    color: white;

}

li {
  color: white;
}


/* Richie */
.richiesatu {
  margin-top: -10px;
  margin-left: -22px;
}

.richiedua {
  margin-top: 5px;
  margin-left: -22px;
}

.gerardsatu {
  margin-top: -10px;
  margin-left: -22px;
}

.gerarddua {
  margin-top: 5px;
  margin-left: -22px;
}

.valensatu {
  margin-top: -10px;
  margin-left: -22px;
}

.valendua {
  margin-top: 5px;
  margin-left: -22px;
}

/* Gerard Babang G */
.fittojelek {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 15px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}


.fittojelek:hover {
  transition: 0.3s all ease;
  transform: scale(1.105);
}

.container {
  padding: 2px 16px;
}

.richieganteng {
  width:50%; 
  aspect-ratio: 1 / 1; 
  object-fit:cover;
  border-radius:200px;
  border-style: solid;
  border-color: white;
  display:block;
  margin-left: 60px;
}


/* Richie */

.prewednuel {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-left: -500px;
}

.shilohjelekbangetgila {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 600px;
  margin-left: -200px
}

button {
    position: relative;
    left: -500px
}

.gerardganteng {
    padding: 10px 25px;
    margin: 5px;
    background: #8bd4ff;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}







